html {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(46, 54, 80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
padding-left: 3rem;
padding-right: 3rem;
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 75px;
  justify-content: space-between ;
  background-color: #3d3d3d;
  box-shadow: 0  0.75px 4px rgba(255, 255, 255, 0.26);

}
#alertCount{
  display: flex;
  width: 6%;
  height: 50px;
  color: white;
  font-weight: bold;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  background-color: rgb(46, 54, 80);
  border-radius: 15px;
  box-shadow: 5px 5px 0px brown;
}

#alertCount:hover{
  background-color: rgb(61, 72, 112);
  color: white;
}

#alertCountDiv{
  margin-left: 8px;
  background-color: rgb(128, 5, 5);
  width: 28px;
  height: 28px;
  border-radius: 20px;
}

#alertCountDiv:hover{
  background-color: rgb(255, 0, 0);
  color: black;
}

#mainDiv {
  border-radius: 10px;
  display: flex;
}

#tag {
  padding-left: 45rem;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(253, 45, 45);
  size: 15px;
}

span {
  font-weight: bold;
}

#addingMac {
  text-align: center;
  width: 45%;
  height: 725px;
  background-color: #3d3d3d;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

#form {
  margin-top: 10px;
}

#submitButton {
  color: midnightblue;
  font-weight: bold;
  width: 85px;
  height: 30px;
  border-radius: 5px
}

#submitButton:hover {
  background-color: rgb(46, 54, 80);
  color: white;
}

#label {
  font-weight: bold;
}

#textInput {
  width: 25%;
  height: 30px;
  font-weight: bold;
  border-radius: 5px
}





#textInput:hover {
  background-color: rgb(46, 54, 80);
  color: white;
}

#index {
  display: flex;
  margin-top: 15px;
  width: 90%;
  height: inherit;
  max-height: 85%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: rgb(46, 54, 80);
  overflow-y: auto;
}

#inputIndex {
  width: 35%;
  height: auto;
  background-color: rgb(46, 54, 80);
}

.firstMac {

  font-size: 21px;
  padding: 8px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid brown;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(59, 69, 100)
}

.firstMac span {
  color: white;
  ;
}

#secondMac {
  text-align: left;
  width: auto;
  height: 90%;
  margin-top: 3px;
}

#secondMac div {
  display: flex;
  border-radius: 4px;
  background-color: rgb(63, 74, 112);
  margin: 5px;
  border-bottom: 2px solid brown;
  justify-content: space-between;

}

#secondMac div:hover {
  background-color: rgb(82, 90, 116);
  color: white;
}

#silButton {
  width: 35px;
  height: 20px;
  color: red;
  font-weight: bold;
  border-radius: 4px;
  margin-right: 5px;
}

#silButton:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

#popUpBackground {
  display: none;
  position: absolute;
  width: 100%;
  height: 91.5%;
  background-color: black;
  opacity: 30%;
}

#popUpDeleteMessage {
  display: none;
  color: white;
  padding-top: 10px;
  position: absolute;
  width: 350px;
  height: 125px;
  background-color: brown;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #ffffff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

#popUpAlert{
  display: none;
  color: white;
  padding-top: 10px;
  position: absolute;
  width: 350px;
  height: 125px;
  background-color: brown;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px #6e6e79;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

#maxLengthError{
    display: none;
    color: white;
    padding-top: 10px;
    position: absolute;
    width: 350px;
    height: 110px;
    background-color: brown;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #6e6e79;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

#lengthButton{
  padding: 10px 20px;
  margin: 0 10px;
  border: #3d3d3d 2px solid;
  border-radius: 5px;
  cursor: pointer;
}
#lengthButton:hover{
  background-color: rgb(46, 54, 80);
  color: white;
}

#popUpDeleteMessage div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#popUpDeleteMessage button {
  padding: 10px 20px;
  margin: 0 10px;
  border: #3d3d3d 2px solid;
  border-radius: 5px;
  cursor: pointer;
}

#popUpDeleteMessage button:hover {
  background-color: rgb(46, 54, 80);
  color: white;
}

#popUpDeleteMessage button.primary {
  background-color: #3498db;
  color: white;
}

#popUpDeleteMessage button.secondary {
  background-color: #e74c3c;
  color: white;
}


#secondMac span {
  padding-left: 5px;
  color: white;
}

.firstInfo {
  color: white;
  font-size: 21px;
  padding: 8px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid brown;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(59, 69, 100);
}

.firstInfo span {
  color: white;
}

#secondInfo {
  text-align: left;
  width: auto;
  height: 90%;
  margin-top: 3px;
}

#secondInfo div {
  border-radius: 4px;
  background-color: rgb(63, 74, 112);
  margin: 5px;
  border-bottom: 2px solid brown;
}

#secondInfo div:hover {
  background-color: rgb(82, 90, 116);
  color: white;
}

#secondInfo span {
  padding-left: 5px;
  color: white;
}

#infoDiv {
  border-left: 3px solid;
  width: 75%;
  height: auto;
  background-color: rgb(46, 54, 80);
}


#label {
  display: inline-block;
  color: aliceblue;
  size: 50px;
}

#listing {
  text-align: center;
  width: 45%;
  height: 725px;
  background-color: #3d3d3d;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
}

#listing span {
  color: white;
}

#secondListing {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: auto;
}

#connectButton {
  margin: 6px;
  margin-left: 1rem;
  color: midnightblue;
  font-weight: bold;
  width: 125px;
  height: 35px;
  border-radius: 5px
}

#disconnectButton {
  margin: 6px;
  margin-left: 1rem;
  color: midnightblue;
  font-weight: bold;
  width: 125px;
  height: 35px;
  border-radius: 5px
}


#connectButton:hover {
  background-color: rgb(46, 54, 80);
  color: white;
}

#disconnectButton:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}


.liste {
  padding-top: 5px;
  font-weight: bold;
  color: aliceblue;
}

.listeIndex {
  display: flex;
  /* margin-top: 10px; */
  width: 90%;
  height: inherit;
  max-height: 85%;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: rgb(46, 54, 80);
  overflow-y: auto;
}

#listeMac {
  border-right: 3px solid black;
  width: 25%;
  height: auto;
}

#listeRssi {
  border-right: 3px solid black;
  width: 15%;
}

#listeTime {
  border-right: 3px solid black;
  width: 35%;
}

#listeInfo {
  width: 25%;
  margin-bottom: 20px;
}

#listeDiv {
  align-items: center;
  border-bottom: 2px solid brown;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(59, 69, 100);
  font-size: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 8px;
}

#macler {
  border-radius: 4px;
  background-color: rgb(63, 74, 112);
  margin: 5px;
  border-bottom: 2px solid brown;
}

#maclerSinyal {
  color: rgb(255, 255, 255);
  border-radius: 4px;
  background-color: rgb(124, 21, 21);
  margin: 5px;
  border-bottom: 2px solid white;
}

#maclerSinyal:hover {
  background-color: rgb(165, 59, 59);
  color: white;
}

#macler:hover {
  background-color: rgb(82, 90, 116);
  color: white;
}
#connectStatus{
  margin-left: 15rem;
  display: flex;
  width: 11%;
  height: 50px;
  color: white;
  font-weight: bold;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  background-color: rgb(46, 54, 80);
  border-radius: 15px;
  box-shadow: 5px 5px 0px brown;
}
#connectStatus:hover{
  background-color: rgb(61, 72, 112);
  color: white;
}
#connectStatusDiv{
  margin-left: 8px;
  background-color: red;
  width: 28px;
  height: 28px;
  border-radius: 20px;
}

#sinyal {
  color: red;
}